.form-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 32px auto 0px;
  text-align: center;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3.7rem;
  padding-top: 2rem;
}

.form {
  font-family: "Poppins", sans-serif;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  background: #ffffff;
  border: 2px solid #673ab794;
  border-radius: 10px;
}

button {
  border-style: none;
}

.form input,
.form textarea {
  flex: 1;
  width: 100%;
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #222;
  caret-color: #7e57c2;
  border: 3px solid #7e57c2;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  transition: border 0.3s;
}

.form textarea {
  padding: 10px;
  min-height: 80px;
  max-height: 200px;
  resize: vertical;
}

.form .btn {
  margin-top: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: #7e57c2;
  color: #111;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  align-self: center;
}

.form .btn:hover {
  background: #673ab7;
  color: #fff;
}
.form .spcl-btn {
  color: #673ab7;
  background: transparent;
  border: 2px solid #673ab7;
}
.form .spcl-btn:hover {
  background: #111;
  color: #fff;
  border: 2px solid #111;
}

.register-form {
  width: 400px;
}
.login-form li,
.login-form span.helptext,
.register-form li,
.register-form span.helptext {
  font-size: 12px;
  color: #505050;
  list-style: none;
}

.form-link {
  text-align: center;
  padding-top: 0.3rem;
}

.form-link > a {
  text-decoration: none;
  color: #222;
}

.form-link > a:hover {
  text-decoration: underline;
  color: #7e57c2;
}

.form-link > a:visited {
  color: #673ab7;
}

.errors {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  margin: 2rem auto 0.5rem;
  max-width: 450px;
  background-color: rgb(233, 72, 72);
  color: #ffffff;
  border-radius: 10px;
}

.errors li,
.errors ul,
.erroes ol,
.errors p {
  margin-left: 0.5rem;
  list-style: none;
  font-size: 0.82rem;
}

.register-form ul.errorlist li {
  color: rgb(240, 64, 64);
  font-size: 0.82rem;
}
