* {
  font-family: Poppins;
  box-sizing: border-box;
}
.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 30px 50px;
}
.card .left {
  display: flex;
  flex-direction: column;
}
.card .left h1.title {
  font-size: 1.2rem;
}
.card .left .sub {
  font-size: 0.8rem;
  opacity: 0.8;
  /* margin-top: -15px; */
}
.card .right {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 3px solid #673ab7;

  display: flex;
  align-items: center;
  justify-content: center;
}
.card .right img {
  object-fit: cover;
  height: 70%;
}
.card .right .btn {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  height: 35px;
  width: 90px;
  border-radius: 5px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #673ab7;
  color: #fff;
}
.card .right .add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #673ab7;
  color: #fff;
}
.card .line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  background: #00000030;
}
