@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Poppins:wght@300;400;500;600;700&display=swap");

@import "./section1.css";
@import "./section2.css";
@import "./section3.css";
@import "./signup.css";
@import "./gallery.css";
@import "./review.css";
@import "./footer.css";
@import "./services.css";
@import "./form.css";

@font-face {
  font-family: "Sign";
  src: url("../fonts/SCRIPTIN.ttf"); /* IE9 Compat Modes */
  src: url("../fonts/SCRIPTIN.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #222;
  scroll-behavior: smooth;
}

header {
  font-family: "Sign", "Comforter", cursive;
  background: #b39ddb;
  padding: 0px 100px;
  font-size: 1.5rem;
}

.auth header {
  font-family: "Sign", "Comforter", cursive;
  background: #ffffff !important;
  padding: 0px 50px !important;
  font-size: 1rem !important;
}

.auth header a {
  text-decoration: none;
}

/* .auth header a:hover {
  color: #222222;
} */

.auth header a:visited {
  color: #222222;
}

@media (max-width: 500px) {
  header {
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
  }
}

/* .auth {
  background: #b39ddb;
} */

.home-auth-links {
  display: flex;
  justify-content: space-between;
}

.home-auth-links .auth-links-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.home-auth-links .auth-links-container a {
  text-decoration: none;
  color: #222222;
}

.home-auth-links .auth-links-container a:hover {
  text-decoration: none;
  color: #ffffff;
}

.home-auth-links .auth-links-container a.login,
.home-auth-links .auth-links-container a.register,
.home-auth-links .auth-links-container a.logout,
.home-auth-links .auth-links-container a.dashboard {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
