{% extends "admin/base_site.html" %} {% block extrahead %}{{block.super}}
<style>
  @media (prefers-color-scheme: dark), @media (prefers-color-scheme: light) {
    :root {
      --primary: #b39ddb;
      --secondary: #7e57c2;
      --accent: #f5dd5d;
      --primary-fg: #fff;
      --body-fg: #333;
      --body-bg: #fff;
      --body-quiet-color: #666;
      --body-loud-color: #000;
      --header-color: #ffc;
      --header-branding-color: var(--accent);
      --header-bg: var(--secondary);
      --header-link-color: var(--primary-fg);
      --breadcrumbs-fg: var(--header-color);
      --breadcrumbs-link-fg: var(--body-bg);
      --breadcrumbs-bg: var(--primary);
      --link-fg: #447e9b;
      --link-hover-color: #036;
      --link-selected-fg: #5b80b2;
      --hairline-color: #e8e8e8;
      --border-color: #ccc;
      --error-fg: #ba2121;
      --message-success-bg: #dfd;
      --message-warning-bg: #ffc;
      --message-error-bg: #ffefef;
      --darkened-bg: #f8f8f8;
      --selected-bg: #e4e4e4;
      --selected-row: #ffc;
      --button-fg: #fff;
      --button-bg: var(--primary);
      --button-hover-bg: #b39ddb;
      --default-button-bg: var(--secondary);
      --default-button-hover-bg: #b39ddb;
      --close-button-bg: #888;
      --close-button-hover-bg: #747474;
      --delete-button-bg: #ba2121;
      --delete-button-hover-bg: #a41515;
    }
  }
  /* :root {
        --primary: #9774d5;
        --secondary: #785cab;
        --link-fg: #7c449b;
        --link-selected-fg: #8f5bb2;
        --body-fg: #333;
        --body-bg: #fff;
        --body-quiet-color: #666;
        --body-loud-color: #000;
        --darkened-bg: #f8f8f8;
        --selected-bg: #e4e4e4;
        --selected-row: #ffc;
        } */

  * {
    font-family: "Poppins", sans-serif !important;
  }
  #header {
    background: #7e57c2 !important;
    color: #ffffff !important;
  }
  #branding h1,
  #branding h1 a:link,
  #branding h1 a:visited {
    color: #ffffff !important;
  }
  .module h2,
  .module caption,
  .inline-group h2 {
    background-color: #b39ddb !important;
  }
  #recent-actions-module h2 {
    background: none !important;
  }
  div.breadcrumbs {
    background: #7e57c2 !important;
  }

  /* .submit-row input[type="submit"] {
    width: 100% !important;
  } */

  .button,
  input[type="submit"],
  input[type="button"],
  .submit-row input,
  a.button,
  .button.default,
  input[type="submit"].default,
  .submit-row input.default {
    background-color: var(--secondary);
  }

  .button:active,
  input[type="submit"]:active,
  input[type="button"]:active,
  .button:focus,
  input[type="submit"]:focus,
  input[type="button"]:focus,
  .button:hover,
  input[type="submit"]:hover,
  input[type="button"]:hover {
    background-color: #b39ddb;
  }
  .button.default:active,
  input[type="submit"].default:active,
  .button.default:focus,
  input[type="submit"].default:focus,
  .button.default:hover,
  input[type="submit"].default:hover {
    background-color: var(--primary);
  }
  .object-tools a:focus,
  .object-tools a:hover {
    background-color: var(--secondary);
  }
</style>
{% endblock %}
