{% load static %} {% comment %}
<link rel="stylesheet" href="css/style.css" /> {% endcomment %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'shop/css/style.css' %}"
/>
{% block content %}
<body class="auth">
  <header>
    <h1 class="logo"><a href="{%url 'home' %}">timoraah</a></h1>
  </header>
  {% if form.errors %}
  <div class="errors">
    <p>Invalid login credentials. Please try again.</p>
  </div>
  {% endif %}
  <h1 class="form-title">Welcome Back</h1>
  <div class="form-container">
    <form class="form login-form" method="post" action="{% url 'login' %}">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn">Login</button>
      <input type="hidden" name="next" value="{{ next }}" />
      <p class="form-link">
        <a href="{% url 'register' %}">New to Timoraah? Register here!</a>
      </p>
    </form>
  </div>
</body>
{% endblock %}
