{% load static %}
  {% comment %} <link rel="stylesheet" href="css/style.css"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/style.css' %}">
{% block content %}
<body class="auth">
{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="form-container">
<form class="form" method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn">Login</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</body>
{% endblock %}