{% load static %} {% comment %}
<link rel="stylesheet" href="css/style.css" /> {% endcomment %}
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'shop/css/style.css' %}"
/>
{% block content %}
<body class="auth">
  <header>
    <h1 class="logo"><a href="{%url 'home' %}">timoraah</a></h1>
  </header>
  {% if form.errors %}
  <div class="errors">
    {% comment %}
    <p>{{form.errors.}}</p>
    {% endcomment %}
    <p>Enter the required fields correctly.</p>
  </div>
  {% endif %}
  <h1 class="form-title">Welcome to Timoraah</h1>
  <div class="form-container">
    <form class="form register-form" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn spcl-btn">Register</button>
      <p class="form-link">
        <a href="{% url 'login' %}">Already registered? Login here!</a>
      </p>
    </form>
  </div>
</body>
{% endblock %}
